@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #f0f1ec;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    background: #ebd59f;
}

::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border-radius: 10px;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ebd59f;
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
}

.navbar a {
    position: relative;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: #3e3e3e;
    padding: 0 10px;
}

.navbar a:after {
    content: "";
    position: absolute;
    background-color: #3e3e3e;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.navbar a:hover:after {
    width: 100%;
}

.main {
    position: relative;
    min-height: 94vh;
    width: 100%;
    background-image: url(img/bg2.png);
    background-position: center;
    background-size: cover;
    font-weight: 400;
    text-align: center;
}

.main h1{
    padding-top: 220px;
    font-size: 100px;
    font-weight: 900;
    color: #3e3e3e;
    transition: 0.5s;
}

.main h1:hover {
    transition: 0.5s;
    text-shadow: #3e3e3e 0 3px 0px;
}

.main p{
    font-size: 72px;
    font-weight: 600;
    color: #3e3e3e;
    margin-top: 25px;
    transition: 0.5s;
}

.main p:hover {
    transition: 0.5s;
    text-shadow: #3e3e3e 0 -3px 0px;
}

.hero-btn{
    width: 492px;
    height: 115px;
    text-decoration: none;
    color: #f0f1ec;
    border-radius: 20px;
    border-style: none;
    font-size: 30px;
    font-weight: 400;
    background: #3e3e3e;
    cursor: pointer;
    margin-top: 100px;
    transition: 0.5s;
}

.hero-btn:hover{
    background: rgb(27, 27, 27);
    transition: 0.5s;
}

.separator {
    position: relative;
    text-align: center;
    padding: 25px;
    font-size: 32px;
    font-weight: 700;
    color: #3e3e3e;
    height: 94px;
    background-color: #ebd59f;
}

.description {
    position: relative;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 200px;
    background-color: #f0f1ec;
}

.description h1 {
    font-size: 36px;
    font-weight: 600;
    color: #3e3e3e;
    margin-bottom: 50px;
}

.description a {
    font-size: 36px;
    font-weight: 400;
    color: #a6aaa6;
    transition: 0.5s;
}

.description a:hover {
    box-shadow: 0 3px #a6a6a6;
}

.description img {
    margin-left: 200px;
    position: absolute;
    top: 0;
    width: 20%;
    height: 70%;
    object-fit: cover;
    object-position: 55%;
    transform: scale(1.2) translateX(800px) translateY(85px);
    box-shadow: 12px 12px #ebd59f;
    transition: 0.5s;
}

.description img:hover {
    box-shadow: 5px 5px #ebd59f;
    transition: 0.5s;
}

.separator-custom {
    position: relative;
    text-align: center;
    padding: 25px;
    font-size: 32px;
    font-weight: 700;
    color: #3e3e3e;
    height: 94px;
    background-color: #eae1ea;
    width: 50%;
}

.production {
    background-color: #eae1ea;
}

.production h1 {
    margin-left: 100px;
    padding-top: 50px;
    color: #3e3e3e;
    font-size: 36px;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.image {
    position: relative;
    margin: 150px;
    box-shadow: 12px 12px #a4a8a4;
    transition: 0.5s;
}

.image:hover {
    box-shadow: 5px 5px #a4a8a4;
    transition: 0.5s;
}

.image img {
    width: 100%;
    display: block;
    margin: auto;
}

.content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.content:hover {
    opacity: 1;
    backdrop-filter: blur(5px);
}

.content a {
    color: #ebd59f;
    font-size: 64px;
    font-weight: 800;
}

.content p {
    color: #ebd59f;
    font-size: 16px;
    font-weight: 400;
}

.separator-white {
    position: relative;
    text-align: center;
    padding: 25px;
    font-size: 32px;
    font-weight: 700;
    color: #3e3e3e;
    height: 94px;
    background-color: #f0f1ec;
}

.why-us {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url(img/whyus.png);
    background-position: center;
    background-size: cover;
    font-weight: 400;
    text-align: center;
}

.why-us h1 {
    color: #3e3e3e;
    font-size: 48px;
    font-weight: 400;
    transform: translateY(280px);
    background-color: #ebd59f;
    filter: blur(100px);
}

.why-us h2 {
    position: relative;
    color: #3e3e3e;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 48px;
    font-weight: 400;
    transform: translateY(-30px);
    transition: 0.5s;
}

.consultation {
    position: relative;
    text-align: center;
    align-items: center;
}

.consultation h1 {
    color: #a6aaa6;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    transition: 0.5s;
}

.consultation h1:hover {
    transition: 0.5s;
    text-shadow: #a6a6a6 0 5px 25px;
}

.cons-panel {
    position: relative;
    align-items: center;
    background-color: #ebd59f;
    height: 868px;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    border-radius: 30px;
    margin-top: 100px;
    padding-inline: 50px;
}

input, label {
    display:block;
    text-align: left;
}

label {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 0.5s;
}

label:hover {
    text-shadow: #a4a4a4 0 5px;
    transition: 0.5s;
}

input {
    width: 1420px;
    height: 70px;
    padding: 15px;
    font-size: 32px;
    border-radius: 8px;
    border: transparent;
    transition: 0.5s;
}

input:hover {
    box-shadow: 8px 8px #a6a6a6;
    transition: 0.5s;
}

.big-input {
    width: 1420px;
    height: 230px;
    padding: 15px;
    border-radius: 8px;
    border: transparent;
    text-align: start;
}

.check-label {
    display: inline-block;
    color: #3e3e3e;
    font-size: 30px;
    font-weight: 400;
}

.check {
    display: inline-block;
    height: 60px;
    border: #3e3e3e;
    margin-bottom: 100px;
    transition: 0.5s;
}

.check:hover {
    box-shadow: 0 0 #a6a6a6;
}

.contacts {
    margin: 100px;
}

.contacts h1{
    font-size: 48px;
    font-weight: 400;
    color: #a4a8a4;
    margin-bottom: 50px;
}

.contacts-text {
    font-size: 36px;
    font-weight: 400;
    color: #a4a8a4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
}

.footer {
    text-align: center;
    padding: 25px;
    font-size: 32px;
    font-weight: 400;
    color: #3e3e3e;
    height: 200px;
    background-color: #a4a8a4;
}






.store-main {
    position: relative;
    min-height: 75vh;
    width: 100%;
    background-image: url(img/bg_store.png);
    background-position: center;
    background-size: cover;
    font-weight: 400;
    text-align: center;
}

.store-main h1{
    padding-top: 220px;
    font-size: 100px;
    font-weight: 900;
    color: #3e3e3e;
    transition: 0.5s;
}

.store-main h1:hover {
    transition: 0.5s;
    text-shadow: #3e3e3e 0 3px 0px;
}

.store-main p{
    font-size: 72px;
    font-weight: 600;
    color: #3e3e3e;
    margin-top: 25px;
    transition: 0.5s;
}

.store-main p:hover {
    transition: 0.5s;
    text-shadow: #3e3e3e 0 -3px 0px;
}

.separator-store {
    position: relative;
    text-align: center;
    height: 100px;
    background-color: #3e3e3e;
}

.search-store {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-store input {
    width: 784px;
    height: 96px;
    padding: 15px;
    border-radius: 0px;
    background: #ebd59f;
    font-size: 48px;
}

.search-store select {
    width: 784px;
    height: 96px;
    padding: 15px;
    border: transparent;
    background: #ebd59f;
    font-size: 48px;
    color: #3e3e3e;
    transition: 0.5s;
}

.search-store select:hover {
    box-shadow: 8px 8px #a6a6a6;
    transition: 0.5s;
}

.catalog-store {
    background-color: #f0f1ec;
    transition: 0.5s;
}

.catalog-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.catalog-item {
    margin-top: 50px;
    position: relative;
    background-color: #ebd59f;
    width: 516px;
    height: 800px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}

.catalog-item:hover {
    box-shadow: 8px 8px #a6a6a6;
    transition: 0.5s;
}

.catalog-item h1 {
    font-size: 48px;
    font-weight: 400;
    color: #3e3e3e;
    transition: 0.5s;
}

.catalog-item h1:hover {
    transition: 0.5s;
    text-shadow: #3e3e3e 0 -2px 0px;
}

.catalog-item a {
    font-size: 26px;
    font-weight: 400;
    color: #3e3e3e;
    transition: 0.5s;
}

.catalog-item a:hover {
    transition: 0.5s;
    text-shadow: #3e3e3e 0 1px 0px;
}

.catalog-item-img img {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    width: 460px;
    height: 460px;
    border-radius: 30px;
}

.store-btn {
    width: 458px;
    height: 112px;
    text-decoration: none;
    color: #f0f1ec;
    border-radius: 20px;
    border-style: none;
    font-size: 30px;
    font-weight: 400;
    background: #3e3e3e;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    left: 30px;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
}

.store-btn:hover {
    background: rgb(27, 27, 27);
    transition: 0.5s;
}

.store-btn-deny {
    width: 458px;
    height: 112px;
    text-decoration: none;
    color: #f0f1ec;
    border-radius: 20px;
    border-style: none;
    font-size: 30px;
    font-weight: 400;
    background: #a4a8a4;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    left: 30px;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    cursor: not-allowed;
}

.store-btn-deny:hover {
    background: #fc9b8a;
    transition: 0.5s;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #f0f1ec;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup h2 {
    font-size: 64px;
    font-weight: 800;
    color: #3e3e3e;
    padding-bottom: 30px;
}

#popup p {
    font-size: 32px;
    font-weight: 400;
    color: #3e3e3e;
}

#popup button {
    margin-top: 30px;
    padding: 20px;
    font-size: 32px;
    font-weight: 800;
    color: #3e3e3e;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

#popup button:hover {
    background: #ebd59f;
    transition: 0.5s;
}

.catalog-store#blur.active {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
    transition: 0.5s;
}